/* -------- HEADER START -------- */

// $navbar-dark-hover-color: #FFFFFF;
.bg-gradient-header {
  background: -moz-linear-gradient(top,  rgba(196,192,178,0.65) 0%, rgba(196,192,178,0.47) 17%, rgba(180,178,164,0.32) 50%, rgba(163,162,148,0.51) 87%, rgba(163,162,148,0.65) 100%);
  background: -webkit-linear-gradient(top,  rgba(196,192,178,0.65) 0%,rgba(196,192,178,0.47) 17%,rgba(180,178,164,0.32) 50%,rgba(163,162,148,0.51) 87%,rgba(163,162,148,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(196,192,178,0.65) 0%,rgba(196,192,178,0.47) 17%,rgba(180,178,164,0.32) 50%,rgba(163,162,148,0.51) 87%,rgba(163,162,148,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c4c0b2', endColorstr='#a6a3a294',GradientType=0 );
}

.navbar-brand span {
  font-size: 120%;
}
.bronze {
  color: #B87B3C;
}

.sidebar {
  background: -moz-linear-gradient(left,  rgba(255,255,255,0.21) 0%, rgba(254,254,253,0.21) 4%, rgba(245,246,242,0.23) 28%, rgba(229,231,220,0.54) 75%, rgba(223,226,213,0.61) 91%, rgba(223,226,213,0.65) 100%);
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0.21) 0%,rgba(254,254,253,0.21) 4%,rgba(245,246,242,0.23) 28%,rgba(229,231,220,0.54) 75%,rgba(223,226,213,0.61) 91%,rgba(223,226,213,0.65) 100%);
  background: linear-gradient(to right,  rgba(255,255,255,0.21) 0%,rgba(254,254,253,0.21) 4%,rgba(245,246,242,0.23) 28%,rgba(229,231,220,0.54) 75%,rgba(223,226,213,0.61) 91%,rgba(223,226,213,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36ffffff', endColorstr='#a6dfe2d5',GradientType=1 );

  -webkit-box-shadow: 0px 2px 4px 2px rgba(153,153,153,0.82);
  box-shadow: 0px 2px 4px 2px rgba(153,153,153,0.82);

  height: auto;
}
/* --------  HEADER END --------  */


/* --------  MAIN CONTENT START --------  */
hr.black-divider {
  border-top: solid 1px #32303E;
}
/* -------- MAIN CONTENT END --------  */


/* --------  FOOTER START --------  */
.footer-text-size {
  font-size: 80%;
}

.footer-link-size {
  font-size: 90%;
}

footer .nav a {
  text-decoration: underline;
}
/* --------  FOOTER END --------  */