<!DOCTYPE html>
<html amp>

{% include head.html %}

<body>

{% include header.html %}

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="d-none d-md-block col-md-3 col-xl-2 text-center sidebar">
            {% if page.sidebar-img %}
            <img class="" src={{ "assets/photos/" | relative_url }}{{ page.sidebar-img}}>
            {% endif %}
        </div>

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

            <article>

                {{ content }}
            </article>

            {% include footer.html %}
        </main>

    </div>

</div>

</body>
</html>
